<li class="comic-wrapper" style="padding: 0;">
	<div class="comic row" style="margin: 10px;">
		<div class="three phone-one columns">
			<%= (link_to (image_tag comic.frames.first.image.url(:thumb), alt: comic.frames.first.alt_text, title: comic.frames.first.title_text), comic_path(comic, category: @category ? @category.slug : nil), category: params[:category]) if comic.frames.count > 0 %>
		</div>
		<div class="eight phone-three columns end">
			<p class="title-and-date">
				<strong class="title"><%= link_to comic.title, comic_path(comic, category: @category ? @category.slug : nil) %></strong>
				<span class="date"> <%= display_short_dates(comic) %></span>
				<% if admin? && !comic.published? %><span style="color: red;">(NOT PUBLISHED)</span><% end %>
			</p>
			<p><%= comic.summary %></p>
		</div>
	</div>
</li>