<ul class="comics">
	<% @comics.each do |comic| %>
		<%= render('comics/comic', comic: comic) unless !comic.published? && !admin? %>
	<% end %>
</ul>
<%= will_paginate @comics,
	previous_label: content_tag(:span, "« back", class: "medium green radius button", style: 'float: left; margin-bottom: 13px;'),
	next_label: content_tag(:span, "more! »", class: "medium white radius button", style: 'float: right; margin-bottom: 13px;'),
	page_links: false
%>
<div class="clearfix"></div>

<%= link_to('Add new comic', new_comic_path, class: "medium green radius button") if admin? %>