<%= provide(:title, @category.name.html_safe) if @category %>

<h2><%= @category ? @category.name : "Everything" %></h2>
<ul class="comics block-grid two-up mobile">
	<% @comics.each do |comic| %>
		<%= render('comics/comic_summary', comic: comic) unless !comic.published? && !admin? %>
	<% end %>
</ul>

<script>
$('.block-grid.two-up>li:nth-child(2n+1)').css({clear: 'left'});
</script>