<%= provide(:title, @category.name) if @category %>

<h2><%= @category ? @category.name : "Everything" %></h2>
<ul class="comics block-grid two-up mobile">
	<% @comics.each do |comic| %>
		<%= render('comics/comic_summary', comic: comic) unless !comic.published? && !admin? %>
	<% end %>
</ul>

<div class="clearfix"></div>

<%= link_to('Add a new comic', new_comic_path, class: "large white radius button") if admin? %>