$baseFontFamily: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
$foundationFontFamily: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;;

$johnGreen: #357A24;
$lightGray: #ccc;

@import "mixins";

body {
	font-family: $baseFontFamily;
	background: $johnGreen;
}
a {
	color: lighten($johnGreen, 30%);
	&:hover {
		color: lighten($johnGreen, 30%);
		text-decoration: underline;
	}
}

/* header */
#header {
	padding-top: 2%;
	h1 {
		color: white;
		font-size: 35px; font-size: 3.5rem; margin-bottom: 3px;
		font-family: $foundationFontFamily;
		letter-spacing: -1px;
		a {
			color: white;
		}
	}
	.tagline {
		color: darken($johnGreen, 15%);
		text-transform: uppercase;
		font-size: 18px;
		font-size: 1.8rem;
		font-weight: bold;
		text-shadow: 0 1px 0 lighten($johnGreen, 10%);
		a {
			color: darken($johnGreen, 15%);
		}
	}
	.skip-to-nav {
		float: right;
		margin: 4% 0;
	}
	.change-order {
		float: right;
		margin: 4% 0;
	}
}

/* breadcrumbs */
.breadcrumbs {
	a {
		color: $johnGreen;
	}
}

/* comic */
.comic-wrapper {
	padding: 4%;
	background: white;
	@include box-shadow(2px 4px 10px darken($johnGreen, 25%));
	overflow: hidden;
	a {
		color: $johnGreen;
		&:hover {
			color: darken($johnGreen, 10%);
			text-decoration: underline;
		}
	}
	.comic {
		.info {
			font-style: italic;
			color: gray;
			.permalink {
				float: right;
			}
		}
		.frames {
			margin-bottom: 0;
			.frame {
				img {
					width: 100%;
				}
			}
		}
		.title {
		}
	}
}

#nav {
	color: darken($johnGreen, 15%);
	margin-top: 13px;
	h2 {
		color: darken($johnGreen, 15%);
		text-transform: uppercase;
		font-size: 18px;
		font-size: 1.8rem;
		font-weight: bold;
		text-shadow: 0 1px 0 lighten($johnGreen, 10%);
		margin-bottom: 13px;
		a {
			color: darken($johnGreen, 15%);
		}
	}
}

/* foundation tweaks */
.block-grid.one-up { margin-left: -4% }
.block-grid.one-up>li { margin-left: 4%; width: 96%; margin-bottom: 4%;}