$baseFontFamily: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
$foundationFontFamily: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;;

$johnGreen: #357A24;
$lightGray: #ccc;

@import "mixins";

body {
	font-family: $baseFontFamily;
	background: $johnGreen;
}
a {
	color: lighten($johnGreen, 30%);
	&:hover {
		color: lighten($johnGreen, 30%);
		text-decoration: underline;
	}
}
hr {
	border: solid darken($johnGreen, 10%);
	border-width: 1px 0 0;
	clear: both;
	margin: 12px 0 18px;
	height: 0;
}
.form-help {
	font-style: italic;
	color: gray;
}
label {
	font-weight: bold;
}

/* header */
#header {
	padding-top: 1%;
	h1 {
		color: white;
		font-size: 35px; font-size: 3.5rem; margin-bottom: 3px;
		font-family: $foundationFontFamily;
		letter-spacing: -1px;
		a {
			color: white;
		}
	}
	.tagline {
		color: darken($johnGreen, 15%);
		text-transform: uppercase;
		font-size: 18px;
		font-size: 1.8rem;
		font-weight: bold;
		text-shadow: 0 1px 0 lighten($johnGreen, 10%);
		a {
			color: darken($johnGreen, 15%);
		}
	}
	.skip-to-nav {
		float: right;
		margin: 4% 0;
	}
	.change-order {
		float: right;
		margin: 4% 0;
	}
}

/* breadcrumbs */
.breadcrumbs {
	a {
		color: $johnGreen;
	}
	.current {
		font-weight: bold;
	}
}
ul.breadcrumbs li a, ul.breadcrumbs li span {
	text-transform: uppercase;
	font-size: 13px; font-size: 1.3rem;
	padding-left: 13px;
}
ul.breadcrumbs li::before {
	content: "»";
}

/* pagination */
.previous_page.disabled, .next_page.disabled {
	display: none;
}

/* comics */
.comic-wrapper {
	padding: 4%;
	background: white;
	@include box-shadow(2px 4px 10px darken($johnGreen, 25%));
	overflow: hidden;
	margin-bottom: 30px;
	a {
		color: $johnGreen;
		&:hover {
			color: darken($johnGreen, 10%);
			text-decoration: underline;
		}
	}
	.comic {
		.frames {
			margin-bottom: 0;
			.frame {
				img {
					width: 100%;
				}
			}
		}
		.comic-info {
			@media only screen and (min-width: 769px) {
				@include opacity(.6);
				@include transition(opacity .2s linear);
			}
			&:hover {
				@include opacity(1);
			}
		}
		.title {
			a {
				color: #555;
				font-weight: bold;
			}
			font-size: 18px; font-size: 1.8rem;
		}
		.date {
			font-style: italic;
			color: gray;
		}
		.permalink {
			float: right;
			font-style: italic;
		}
	}
}

/* bottom nav */
#nav {
	color: darken($johnGreen, 15%);
	margin-top: 13px;
	margin-bottom: 13px;
	h2 {
		color: darken($johnGreen, 15%);
		text-transform: uppercase;
		font-size: 18px;
		font-size: 1.8rem;
		font-weight: bold;
		text-shadow: 0 1px 0 lighten($johnGreen, 10%);
		margin-bottom: 13px;
		a {
			color: darken($johnGreen, 15%);
		}
	}
}

/* highlight animation styles */
.highlighted {
	background-color: darken($johnGreen, 10%);
}
.not-highlighted {
	background-color: $johnGreen;
}

/* foundation tweaks */
.block-grid.one-up { margin-left: -4% }
.block-grid.one-up>li { margin-left: 4%; width: 96%; margin-bottom: 4%;}
.button.green { color: white !important;}
h4 {
	margin-bottom: 10px;
}