<% flash.each do |key, value| %>
  <% if !value.nil? && !value.empty? && key != :recaptcha_error %>
  <div class="alert-box <%= key %>">
    <%= value %>
    <a class='close' href='#'>&times;</a>
  </div>
  <% end %>
<% end %>