<div class="row">
	<div class="twelve columns">
		<% flash.each do |key, value| %>
		  <% if !value.nil? && !value.empty? && key != :recaptcha_error %>
		  <br />
		  <div class="alert-box <%= key %>">
		    <%= value %>
		    <a class='close' href='#'>&times;</a>
		  </div>
		  <% end %>
		<% end %>
	</div>
</div>