<!--[if lte IE 6]>
<div class="alert-box">
  <b>Be aware:</b> This web site, like most modern ones, does not support your version of Internet Explorer.<br />
  	Please <%= link_to 'update your browser', 'http://windows.microsoft.com/en-US/internet-explorer/downloads/ie' %> or <%= link_to 'get Chrome Frame', 'http://www.google.com/chromeframe' %> to improve your experience exponentially.
  <a class='close' href='#'>&times;</a>
</div>
<![endif]-->