<div class="panel" id="top_news" style="overflow: hidden;">
	<a class="close" style="float: right; color: #357A24;" href="#">&times;</a>
	<h4>Hey there!</h4>
	<p>Welcome to my little cartoon and comics archive site! Since it's just getting going, things might be a little rough around the edges. I'll be gradually improving the experience.</p>
	<p>I'm currently in the process of uploading my entire archive of work for the <i>Cardinal Courier</i> from 2007 to 2011, along with a few other goodies. So bear with me as we get to some good and maybe even [omg!] new stuff.</p>
	<p>If you want to get updates for new uploads, our favorite animal friends Skip and Cal are now <a style="color: #357A24;" href="http://twitter.com/SkipandCal">on Twitter</a> and <a style="color: #357A24;" href="http://facebook.com/skipandcal">on Facebook</a>. They'll tell you about anything new I put up, and I hear they're pretty snarky to boot. (There's an <%= link_to 'RSS feed', feed_path, style:"color: #357A24;" %> too, if you're into that kind of thing.)</p>
	<p style="float: left;">
		<!-- Twitter follow button -->
		<a href="https://twitter.com/SkipandCal" class="twitter-follow-button" data-show-count="true">Follow @SkipandCal</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</p><p>
		<!-- Facebook like button -->
		<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fskipandcal&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=25" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:25px;" allowTransparency="true"></iframe>
	</p>
	<p>Thanks for visiting, and enjoy!</p>
	<p style="font-style: italic; font-size: 18px;">&mdash; John</p>
</div>

<script>
	$('#top_news .close').click(function () {
		$('div#top_news').hide('slow');
	});
</script>