<div class="panel" id="top_news">
	<h4>Hey there!</h4>
	<p>Welcome to my little cartoon and comics archive site! Since it's just getting going, things might be a little rough around the edges. I'll be gradually improving the experience.</p>
	<p>I'm currently in the process of uploading my entire archive of work for the <i>Cardinal Courier</i> from 2007 to 2011, along with a few other goodies. So bear with me 'til we get to some better and maybe even [omg!] new stuff.</p>
	<p>If you want to get updates for new uploads, follow <a style="color: #357A24;" href="http://twitter.com/SkipandCal">Skip and Cal on Twitter</a>. There's an <%= link_to 'RSS/Atom feed', feed_path, style:"color: #357A24;" %> too, if you're into that kind of thing.</p>
	<p>
		<a href="https://twitter.com/SkipandCal" class="twitter-follow-button" data-show-count="true">Follow @SkipandCal</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</p>
	<p>Thanks for visiting, and enjoy!</p>
	<p style="font-style: italic; font-size: 18px;">&mdash; John</p>
</div>